<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1= pageTitle
      p Enter your email to reset password

      if locals.messages
        .alertas
          each category in Object.keys(locals.messages)
            each error in messages[category]
              .alerta(class=`${category}`)
                p= error
                
      form.caja-login(method="POST" action="/reset-password")
        .campo
          label(for="email") Email:
          input(type="email" name="email" placeholder="Email" required value= email)
        .campo.enviar
          input.boton(type="submit" value="Reset")
        .campo.acciones
          a(href="/login") Login

