<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1= pageTitle
      p Enter your new password

      form.caja-login(method="POST")
        .campo
          label(for="password") Password:
          input(type="password" name="password" placeholder="New password" required)
        .campo.enviar
          input.boton(type="submit" value="Reset Password")