<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ./email.css

  body
    h2 Reset Password
    p Hello, you requested a password change, follow the link to change your current password. This link is temporal.
    a(href=`${resetUrl}`) Change Password
    p If this link doesn't work, visit #{resetUrl}
    p If you didn't ask for a password change, ignore this email. 